<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Student Being Ragged</th>
      <th scope="col">Ragger</th>
      <th scope="col">Location</th>
      <th scope="col">Time of Complain</th>
      <th scope="col">Attended Status</th>
    </tr>
  </thead>
  <tbody>
      {{#each doc}}
    <tr>
      <th scope="row"></th>
      <td>{{this.username}}</td>
      <td>{{this.name}}</td>
      <td>{{this.ragger}}</td>
      <td>{{this.locationLongitude}}+{{this.locationLatitude}}</td>
      <td>{{this.created_at}}</td>
      <td><input type="checkbox" name="attended">{{this.attendedStatus}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
