<div class="btn-group" role="group" aria-label="Basic example">
    {{#if user.superUser}}
    <a href="/signup"><button type="button" class="btn btn-secondary">New Staff User</button></a>
    {{/if}}
    <a href="/update"><button type="button" class="btn btn-secondary" onclick="this.form.submit()">Update
            Profile</button></a>

    <a href="/logout"><button type="button" class="btn btn-secondary" onclick="this.form.submit()">Logout</button></a>
    <a href="resetpassword"><button type="button" class="btn btn-secondary" onclick="this.form.submit()">Reset
            Password</button></a>
</div>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Student Being Ragged</th>
            <th scope="col">Ragger</th>
            <th scope="col">Details</th>
            <th scope="col">Location</th>
            <th scope="col">Time of Complain</th>
            <th scope="col">Attended Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each doc}}
        <tr>
            <th scope="row"></th>
            <td>{{this.username}}</td>
            <td>{{this.name}}</td>
            <td>{{this.ragger}}</td>
            <td>{{this.details}}</td>
            <td><a href='https://www.google.com/maps/search/?api=1&query={{this.locationLatitude}},{{this.locationLongitude}}'
                    target="_blank">Location</a></td>
            <td>{{this.created_at}}</td>
            <td>
                <form action="/statusUpdate/?id={{this._id}}" method="POST">
                    <input type="checkbox" name="attended" value="{{this.attendedStatus}}" id='{{this._id}}'
                        class='status' onchange="this.form.submit()">
                </form>{{this.attendedStatus}}
            </td>
            <script>
                document.getElementById('{{this._id}}').checked = {{ this.attendedStatus }}
                if ({{ this.attendedStatus }})
                document.getElementById('{{this._id}}').disabled = true;
            </script>
        </tr>
        {{/each}}
    </tbody>
</table>